* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
}

:root {
  --font-display: "Red Hat Display", sans-serif;
  --font-heading: "Red Hat Display", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-button: "Poppins", sans-serif;
}

body {
  font-family: var(--font-body);
  background: #000;
}
